<div class="ui raised segment">
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="potConfig">Potenciostático</a>
    <a class="item" data-tab="galvConfig">Galvanostático</a>
  </div>

  <div class="ui bottom attached active tab segment" data-tab="potConfig">
    <form class="ui form">
      <div class="ui raised segment">
        <inlineField name='timeAdsorption' label='Tempo de Adsorção' rightLabel='s' type='number'></inlineField>
        <inlineField name='minConductivityAdsorption' label='Condutividade minima de Adsorção' rightLabel='µs/cm' type='number'></inlineField>
      </div>

      <div class="ui raised segment">
        <inlineField name='timeDesorption' label='Tempo de Dessorção' rightLabel='s' type='number'></inlineField>
        <inlineField name='maxConductivityDesorption' label='Condutividade máxima de Dessorção' rightLabel='µs/cm' type='number'></inlineField>
      </div>
    </form>
  </div>

  <div class="ui bottom attached tab segment" data-tab="galvConfig">
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="galvTime">Tempo</a>
      <a class="item" data-tab="galvCond">Condutividade</a>
      <a class="item" data-tab="galvPot">Potencial</a>
      <a class="item" data-tab="galvAll">Todos</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="galvTime">
      <form class="ui form">
        <inlineField name='timeAdsorption' label='Tempo de Adsorção' rightLabel='s' type='number'></inlineField>
        <inlineField name='timeDesorption' label='Tempo de Dessorção' rightLabel='s' type='number'></inlineField>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="galvCond">
      <form class="ui form">
        <inlineField name='minConductivityAdsorption' label='Condutividade minima de Adsorção' rightLabel='µs/cm' type='number'></inlineField>
        <inlineField name='maxConductivityDesorption' label='Condutividade máxima de Dessorção' rightLabel='µs/cm' type='number'></inlineField>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="galvPot">
      <form class="ui form">
        <inlineField name='cutPotentialAdsorption' label='Potencial de corte de Adsorção' rightLabel='mV' type='number'></inlineField>
        <inlineField name='cutPotentialDesorption' label='Potencial de corte de Dessorção' rightLabel='mV' type='number'></inlineField>
      </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="galvPot">
      <form class="ui form">
        <div class="ui raised segment">
          <inlineField name='timeAdsorption' label='Tempo de Adsorção' rightLabel='s' type='number'></inlineField>
          <inlineField name='minConductivityAdsorption' label='Condutividade minima de Adsorção' rightLabel='µs/cm' type='number'></inlineField>
          <inlineField name='cutPotentialAdsorption' label='Potencial de corte de Adsorção' rightLabel='mV' type='number'></inlineField>
        </div>
        <div class="ui raised segment">
          <inlineField name='timeDesorption' label='Tempo de Dessorção' rightLabel='s' type='number'></inlineField>
          <inlineField name='maxConductivityDesorption' label='Condutividade máxima de Dessorção' rightLabel='µs/cm' type='number'></inlineField>
          <inlineField name='cutPotentialDesorption' label='Potencial de corte de Dessorção' rightLabel='mV' type='number'></inlineField>
        </div>
      </form>
    </div>
  </div>

  <div class="ui raised segment">
    <inlineField name='numCicles' label='Numero de Ciclos' type='number'></inlineField>
    <inlineField name='maxConductivity' label='Conduntividade máxima' rightLabel='µs/cm' type='number'></inlineField>
  </div>
  
</div>
