<div class="ui raised segment">
  <button class="ui toggle adsorption button">Adsorption</button>
  <input class="ui input" type="file" name="textDocument">
  <div class="ui read-only checkbox">
    <input type="checkbox">
    <label>Dessorção</label>
  </div>
  <div class="ui read-only checkbox">
    <input type="checkbox">
    <label>Adsorção</label>
  </div>
  <div class="ui read-only checkbox">
    <input type="checkbox">
    <label>Batch</label>
  </div>
  <div class="ui read-only checkbox">
    <input type="checkbox">
    <label>Single Pass</label>
  </div>
  <button class="ui toggle onoff button">Off</button>
</div>
